.App {
  background-color: rgba(101, 174, 243, 0.703);
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(10, 9, 87, 0.749);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 8px;
  height: auto;
}

.AppHeader {
  font-weight: 700;
  font-size: 1.3rem;
  font-family: "Lucida Sans", Arial, sans-serif;
  margin-bottom: 30px;
}

.header {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Lucida Sans", Arial, sans-serif;
}

.answer {
  border: 1px solid rgba(10, 9, 87, 0.749);
  margin: 10px;
  cursor: pointer;
  min-height: 30px;
  padding-top: 10px;
  border-radius: 20px;
}
.answer:hover {
  background-color: azure;
}

.correct_answer {
  background-color: green;
  border: 1px solid rgba(10, 9, 87, 0.749);
  margin: 10px;
  cursor: pointer;
  min-height: 30px;
  padding-top: 10px;
  border-radius: 20px;
}

.incorrect_answer {
  background-color: red;
  border: 1px solid rgba(10, 9, 87, 0.749);
  margin: 10px;
  cursor: pointer;
  min-height: 30px;
  padding-top: 10px;
  border-radius: 20px;
}

.strings {
  color: rgba(2, 1, 53, 0.749);
  font-size: 1.1rem;
  font-family: "Lucida Sans", Arial, sans-serif;
}
.rules {
  width: 20rem;
}

.inputs {
  width: 9rem;
}

.settings-inputs {
  border-radius: 10px;
}

.buttons {
  border: 10px;
  background: none;
  border-color: none;
  cursor: pointer;
}

.name-inputs {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 5px;
}
.saveNameButton {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: none;
  border-color: none;
  cursor: pointer;
}

.links {
  border: 1px solid rgba(10, 9, 87, 0.749);
  border-radius: 10px;
  padding: 4px;
  text-decoration: none;
  margin: 10px;
  background: none;
}
.start-now {
  background-color: rgb(44, 255, 128);
}

.pointer {
  cursor: pointer;
}
.pointer-not-allowed {
  cursor: not-allowed;
}

.fireworks {
  background-image: url("https://c.tenor.com/ZcA4VSUVn0IAAAAd/fireworks.gif");
  height: 475px;
  width: 500px;
  border-radius: 50%;
}
.game-continer {
  border-radius: 10px;
  width: 20rem;
  border: 1px solid rgba(10, 9, 87, 0.749);
}
